*{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #1e1e1e;
  display: flex;
  flex-wrap: wrap;
}
div, span {
  color: white;
}
button{
  margin-top: 8px;
  margin-bottom: 8px;
}
